/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$grey1: #333333;
$grey2: #666666;
$grey3: #979797;
$grey4: #E3E3E3;
$grey5: #F5F5F2;
$yellowDark: #F58220;
$yellowLight: #FFA200;
$mild: #f1f3f3;
$blueDark: #56819F;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;