
.sec_genStats{
    margin: 10px;
    background-color: white;
    .comp_formDate{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        line-height: 100px;
        input{
            height: 30px;
            outline: none;
            width: 150px;
            background-color: white;
            padding-left: 10px;
        }
        #dateEnd{
            background-image: url('../../images/icons/calendar.svg');
            background-position: 120px 5px;
            background-repeat: no-repeat;
            background-size: 15px;
        }
        .comp_btnRefresh{
            width: 30px;
            height: 30px;
            background-color: $yellowDark;
            border: 0px;
            border-radius: 5px;
            display: inline;
            margin-left: 10px;
            img{
                height: 20px;
                filter: invert(1);
                display: block;
                margin: auto;
            }
        }
    }
}