
.sec_genStats{
    margin-top: 60px;
    #genStatsText{
        font-family: $brand-font;
        font-size: 17px;
        font-weight: 500;
        color: $grey3;
        padding: 10px 20px;
        border-bottom: 1px solid $grey4;
    }
    #earnChart{
        padding: 10px 10px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            width: 700px;
            font-family: $brand-font;
            font-size: 15px;
            color: $grey3;
            font-weight: 600;
        }
    }
    #centeredChart{
        display: block;
        margin: 0px auto;
        padding: 20px 0 30px 0;
        width: 50%;
    }
    .comp_formDate{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        line-height: 100px;
        border-bottom: 1px solid $grey4;
        input{
            height: 30px;
            outline: none;
            width: 150px;
            background-color: white;
            padding-left: 10px;
        }
        #dateStart{
            border-top: 1px solid #AAAAAA;
            border-left: 1px solid #AAAAAA;
            border-bottom: 1px solid #AAAAAA;
            border-right: none;
            border-radius: 5px 0px 0px 5px;
        }
        #dateEnd{
            background-image: url('../../images/icons/calendar.svg');
            background-position: 120px 5px;
            background-repeat: no-repeat;
            background-size: 15px;

            border-bottom: 1px solid #AAAAAA;
            border-right: 1px solid #AAAAAA;
            border-top: 1px solid #AAAAAA;
            border-left: 1px solid #AAAAAA;
            border-radius: 0px 5px 5px 0px;
        }
        .comp_btnRefresh{
            width: 30px;
            height: 30px;
            background-color: $yellowDark;
            border: 0px;
            border-radius: 5px;
            display: inline;
            margin-left: 10px;
            img{
                height: 20px;
                filter: invert(1);
                display: block;
                margin: auto;
            }
        }
    }

    .comp_totalSummary {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        flex-flow: wrap;
        .comp_rowSummary{
            width: 700px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .comp_infoSummary{
                width: 300px;
                justify-content: space-between;
                display: inline-flex;
                border-bottom: 1px $grey4 solid;
                padding: 10px 0 4px 0;
                .comp_textInInfoSummary{
                    text-align: left;
                    color: $grey3;
                    font-weight: 600;
                }
                .comp_numberInInfoSummary{
                    text-align: right;
                }
            }

        }
    }

    .comp_btnWrapper{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .comp_centerBtn{
            width: 500px;
            display: flex;
            justify-content: space-between;
            button{
                border: none;
                border-radius: 5px;;
                padding: 5px 10px;
                svg{
                    width: 20px;
                    height: 20px;
                }
                span{
                    color: $grey2;
                    margin: 0px 10px;
                    position: relative;
                    top: -3px;
                    left: 5px;

                }
            }
            .notChecked{
                background-color: white;
            }
        }
    }
}

@media (max-width: 576px) {
    .sec_genStats{
        margin-top: 120px;
        .comp_rowSummary{
            width: 100% !important;
            display: flex !important;
            flex-direction: column;
            justify-content: center !important;
            align-items: center !important;
        }
        #centeredChart{
            width: auto;
        } 
    }    
}