.sec_topPan{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 83.33%;
    .freeSpace{
        flex: 1;
        height: 50px;
        background-color: white;
        align-items: stretch;
    }
    .comp_boxInTop{
        margin: 0 2px;
        height: 50px;
        line-height: 50px;
        background-color: white;
        justify-content: center;
        align-items: center;
        img{
            display: inline-block;
            vertical-align: middle;
            filter: opacity(50%);
            margin: 0 10px;
            background-color: white;
        }
        .imgBig{
            height: 15px;
            position: relative;
            
        }
        .imgSmall{
            width: 13px;
        }
        #bell{
            filter: opacity(100%) !important;
            padding: 0 5px;
            background-color: white;  
        }
        #wallet{
            top: -3px;
            height: 19px;
        }
        #cash{
            font-family: $brand-font;
            font-size: 15px;
            font-weight: bold;
            color: $grey3;
            margin: 0 5px;
        }
        #profile{
            font-family: $brand-font;
            font-size: 12px;
            font-weight: normal;
            color: $blueDark;
            margin: 0 5px;
        }
        #profileImg{
            height: 20px;
        }
    }    

}


@media (max-width: 576px) {
    .sec_topPan{
        top: 60px;
        right: 60px;
        justify-content: space-between;
        width: calc(100% - 60px);
        background-color: white;
        .comp_boxInTop{
            .imgBig{
                height: 20px;
                position: relative;
                top: -3px;
            }
            .imgSmall{
                width: 17px;

            }
            #bell{
                filter: opacity(100%) !important;
                padding: 0 5px;
                background-color: white;  
            }
            #wallet{
                top: -5px;
                height: 21px;
            }
            #cash{
                font-family: $brand-font;
                font-size: 17px;
                font-weight: bold;
                color: $grey3;
                margin: 0 5px;
            }
            #profile{
                font-family: $brand-font;
                font-size: 16px;
                font-weight: normal;
                color: $blueDark;
                margin: 2px 5px 0px 5px;
            }
            #profileImg{
                height: 22px;
            }
        }
    }
    .freeSpace{
        display: none;
        width: 0px;
        max-width: 0px;
    }
}